.footer{
    display: flex;
    justify-content: space-between;
}

.copyright{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-grey-color);
    padding: 33px 0 25px 104px;
    
}

.navItem{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px; 
}

.nav{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;   
}

.social{
    margin:30px 101px 0 28px;
}

.socialItem{
    padding-left: 28px;
}

@media (min-width: 320px) {

    .footer{
      flex-direction: column-reverse;
      position: relative;
    }

    .copyright{
        padding: 40px 0 22px 0; 
    }

    .nav{
       flex-direction: column; 
       margin-top: 20px; 
       padding: 0;
    }

    .social{
        position: absolute;
        top: 24px;
        right: 0;
        margin:0;
    }
}

@media (min-width: 768px) {

    .footer{
        flex-direction: row;
    }

    .nav{
        flex-direction: row; 
        margin-top: 21px; 
        padding: 0;
     }

     .social{
        position: relative;
        top: 21px;
        height: fit-content;
    }

    .copyright{
        padding: 24px 0 18px 0; 
    }
}

@media (min-width: 1024px) {

    .copyright{
        padding: 33px 0 25px 0;
    }

    .nav{
        margin-top: 30px;  
    }

    .social{
        top: 30px;
    }
}