
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&family=Source+Sans+Pro&display=swap');

:root{
  --text-black-color: #1A1B22;
  --text-white-color: #FFFFFF;
  --text-grey-color: #B6BCBF;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1440px;
  margin: auto;
}

@media (min-width: 320px) {
  .container {
    max-width: 94%;
    min-width: 288px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 688px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 911px;
  }
}

@media (min-width: 1440px) {
  .container {
   width: 1232px;
  }
}





