
.commitsWrapper{
    background: #F5F6F7;
    padding-bottom: 136px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.headline{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: var(--text-black-color);
    margin: 72px 0 64px 0;
}

.link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    position: relative;
}

.right{
    padding: 85px 15px 73px 0;
}

.link::after{
    content: url(..//public/img/arr.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -15px;
    top: 0;
    
}

.historySlider{
    width: 100%;
    background: #F5F6F7;
    height: 288px;
   
  }

  .item{
    max-width: 400px;
    height: 288px;
    background: #FFFFFF;
    border-radius: 16px;
    display: block;
    
  }

  .historySlider::before {
    content: "";
    height: 288px;
    width: 100px;
    display: block;
    position: absolute;
    z-index: 999;
    box-shadow: inset 106px 32px 51px -53px #f5f6f7;
} 

.historySlider::after {
    content: "";
    height: 288px;
    width: 100px;
    display: block;
    position: absolute;
    z-index: 999;
    box-shadow: inset -50px 0px 41px 0px #f5f6f7;
    right: 0px;
    top: 0px;
} 

 