
* {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: auto;
}

.row {
  margin: 0 -15px;
  display: flex;
}

[class*=col-] {
  padding: 0 15px;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.header{
  background-image: url(img/georgia-de-lotz-bg.png);
  background-repeat: no-repeat;
}
.main-header{
  border-top: 1px solid #c4c4c475;
}

.logo a {
  display: block;
  margin: 30px 0 26px 104px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 30px 101px 23px 0;
}

.header-nav__item a {
  text-decoration: none;
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.active::after {
  position: relative;
  content: "";
  width: 100%;
  background-color: #fff;
  height: 3px;
  display: block;
  top: 22.5px;
}

.header-nav__item {
  list-style-type: none;
  margin-left: 34px;
}

.main-content__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  margin-top: 80px;
}

.main-content {
  margin: 0 auto;
  max-width: 608px;
}

.main-content__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  margin-top: 32px;
}
.block-imputs{
  margin-bottom: 80px;
}

.main-content-search {
  width: 100%;
  height: 64px;
  border: 1px solid #D1D2D6;
  border-radius: 100px;
  margin-top: 64px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.main-content-search__input__text {
  margin-left: 24px;
  width: 376px;
  height: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border: none;
  outline: none;
}

::-webkit-input-placeholder {
  color: #B6BCBF;
}

.main-content-search__input__btn {
  width: 168px;
  height: 64px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  outline: none;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.main-content-search-button {
  position: relative;
}

.second-section-content__img {
  background-image: url(img/photo-author.png);
  height: 464px;
  width: 464px;
  margin-top: 80px;
}

.second-section-content__title {
  margin-top: 131px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.second-section-content__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  padding-right: 153px;
  margin-top: 24px;
}

.second-section-content__text span {
  display: block;
  margin-top: 25px;
}

footer {
  height: 80px;
  margin-top: 80px;
}

.footer-content__copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 33px;
  color: #B6BCBF;
}

.footer-content__list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.footer-content__list li {
  margin: 0 10px;
}

.footer-content__list a {
  text-decoration: none;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.social_link_github {
  display: block;
  height: 21px;
  width: 22px;
  background-image: url(icon/icon-github.png);
}

.social_link_facebook {
  display: block;
  height: 20px;
  width: 20px;
  background-image: url(icon/icon-social-facebook.png);
  margin-left: 27.89px;
  margin-right: 108px;
}

.footer-content__social {
  display: flex;
  margin-top: 30px;
  justify-content: flex-end;
}

.container-mobile-footer {
  display: flex;
  width: 100%;
}









@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .first-section {
    width: fit-content;
  }

  .row {
    display: flex !important;
  }

  .first-section {
    background-image: url(img/georgia-de-lotz-mobile.png);
    height: 536px;
    background-position: center;
    background-size: 100% 100%;
  }

  .logo a {
    display: block;
    margin: 16px 16px 16px 16px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .header-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 30px 101px 26px 16px;
  }

  .header-nav__item a {
    text-decoration: none;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: max-content;
  }

  .header-nav__item {
    list-style-type: none;
    margin-left: 11px;
  }

  .header-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 16px 14px 13px 0px;
  }

  .active::after {
    position: relative;
    content: "";
    width: 100%;
    background-color: #fff;
    height: 3px;
    display: block;
    top: 15.5px;
  }

  .main-content {
    margin: 0 auto;
    max-width: 536px;
  }

  .main-content__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 19px;
  }

  .main-content__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    margin-top: 56px;
    margin-left: -22px;
    padding: 0px 39px;
  }

  .main-content-search {
    width: 100%;
    height: 64px;
    border: 1px solid #D1D2D6;
    border-radius: 100px;
    margin-top: 64px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .main-content-search__input__btn {
    width: 288px;
    height: 56px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgb(14 26 57 / 20%);
    border-radius: 100px;
    outline: none;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    position: relative;
    right: 0px;
    cursor: pointer;
  }

  .main-content-search__input__text {
    margin-left: 16px;
    width: 256px;
    height: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
    margin-top: 16px;
  }

  .main-content-search {
    height: 56px;
    border: 1px solid #D1D2D6;
    border-radius: 100px;
    margin-top: 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 288px;
  }

  .main-content-search-button {
    margin-top: 16px;
  }

  .block-imputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    margin: 0px;
    display: flex;
  }

  [class*=col-] {
    padding: 0 0px;
  }

  .active::after {
    top: 12.5px;
  }

  .second-section-content__img {
    background-image: url(img/photo-author-mobile.png);
    height: 272px;
    width: 272px;
    margin-top: 20px;
  }

  .flex-mibile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .second-section-content__text {
    padding: 0 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
  }

  .second-section-content__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #1A1B22;
    padding-left: 16px;
    margin-top: 24px;
  }

  .second-section-content__text span {
    display: block;
    margin-top: 0;
  }

  .footer-mobile-flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-content__social {
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
    margin-left: 16px;
  }

  .footer-content__list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .container-mobile-footer {
    display: flex;
  }

  footer {
    height: 225px;
    margin-top: 45px;
  }

  .footer-content__list li {
    margin: 0 16px;
    margin-bottom: 16px;
  }

  .social_link_facebook {
    margin-right: 0px;
  }

  .footer-content__copyright {
    padding-left: 16px;
  }
}